<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8" />
  <title>design</title>
  <link rel="stylesheet" href="../../assets/css/base.css" />
  <link rel="stylesheet" href="../../assets/css/design.css" />
</head>
<body class="theme-cp">
<div class="gdd-container">
    <div class="gdd-header">
        <h1>Analyse du jeu</h1>
        <div class="accent-line"></div>
    </div>
    
    <div class="gdd-content">
        <div class="gdd-section">
            <div class="gdd-card">
                <h2>Moteur central</h2>
                <p>
                    Le moteur central, c'est la raison la plus essentielle pour laquelle un joueur s'immerge dans ce jeu ; tous les systèmes doivent servir cet objectif. Voici deux exemples simples :
                </p>

                <p>
                    Premièrement, un très bon exemple est Elden Ring: son moteur central est le combat. Voilà ce qui fait le grand attrait d'un jeu «Souls-like», donc son système de combat est extrêmement riche et l'essentiel du budget s'y est concentré. 
                    Le plus important : son système de récompenses et l'histoire dépendent entièrement du combat. L'histoire consiste à défier sans cesse des boss, et les récompenses (armes, etc) sont conçues pour accroître la puissance de combat.
                </p>

                <p>
                    Ensuite, un exemple moins bon: c'est la trilogie «mythique» de Assassin's Creed. Son moteur central est assez confus. Selon la logique antérieure, il aurait dû s'agir d'une excellente clevle design et d'une expérience d'assassinat avec une histoire captivante. 
                    Mais dans cette trilogie, ils ont semblé vouloir emprunter la voie d'un RPG classique, c'est-à-dire des combats «normaux». Et là le problème se pose: le combat doit-il devenir le moteur central d'Assassin's Creed ? 
                    De toute évidence, cela s'oppose totalement à l'assassinat, élément le plus important de la série. Du coup, ils ont fortement affaibli l'assassinat. L'ancien moteur central «le levle design» a été abandonné, remplacé par des avant-postes copiés-collés. 
                    Bien que la nouvelle histoire ne soit pas totalement mauvaise, mais on sent qu'elle ne sert plus le moteur central. Dans les histoires antérieures, on mettait souvent l'accent sur l'identité et la capacité de l'assassin, tout tournait autour de cette compétence d'assassinat. 
                    Mais dans cette trilogie, ce point est largement dissocié. Au final, cela a conduit la nouvelle Assassin's Creed à devenir une œuvre assez étrange: si l'on veut du combat, il reste moins compétitif face aux jeux dont moteur central est le combat. Et les joueurs qui aiment l'assassinat traditionnel seront déçus.
                    Le flou du moteur central entraîne un manque de motivation durable chez le joueur. La preuve: la plupart des joueurs ayant acheté Assassin's Creed Odyssey n'ont même pas fini le chapitre 1 (70 % selon les statistiques de succès sur Steam ). 
                    C'est pour cela que dans le dernier Assassin's Creed Shadow, ils ont séparé le gameplay qui encourage le combat dans un personnage à part.
                </p>
                
                
            </div>
        </div>


    <div class="gdd-content">
        <div class="gdd-section">
            <div class="gdd-card">
                <h2>Immersion</h2>
                <p>
                    L'immersion, dans un jeu d'un certain volume, est assurément une expérience joueur très importante.
                    Depuis la naissance du premier roman ou de la première pièce de théâtre, les «designer» ont souhaité que le «spectateur» puisse s'immerger dans leur œuvre. Alors, dans un jeu vidéo qu'est-ce que cela signifie ?
                </p>

                <p>
                    En une phrase: «faire croire au joueur que ce monde existe réellement» Bien sûr, cela ne veut pas dire que tous les développeurs doivent dépenser des ressources énormes pour accumuler d'innombrables détails (comme dans Red Dead Redemption 2), mais plutôt que tous les systèmes doivent être cohérents et crédibles.
                     Exemple simple: pourquoi Mario peut-il sauter ? Parce qu'il a des genoux. Ça peut sembler une phrase creuse, mais c'est justement ce qui prouve qu'elle est cohérente, on n'attend pas du joueur qu'il réponde «parce que les développeurs voulaient qu'il puisse sauter».
                </p>

                <p>
                    Prenons des jeux comme exemples: d'abord Dead Space: pour un jeu d'horreur l'immersion est peut-être l'expérience la plus importante. 
                    Le «barre de santé sur la colonne vertébrale» du protagoniste est un design parfaitement intégré. Ensuite, dans Halo, le fusil dassaut (type MA5) affiche un compteur de munitions sur une petite écran intégré, 
                    plutôt que de passer par une UI classique, une arme futuriste avec écran, cela paraît tout à fait raisonnable.
                </p>
                
                <p>
                    L'UI est l'un des éléments les plus susceptibles de briser l'immersion, car dans la réalité elle n'existe pas. Donc si on ne lui donne pas une justification crédible (comme un casque de réalité virtuelle), moins il y a d'UI à proprement parler, meilleure est l'immersion.
                </p>
                
                <p>
                    Jusqu'à présent, nous parlons de l'aspect visuel; mais concernant l'immersion il existe aussi un niveau de jeu plus avancé. «La mort» est une expérience que le joueur doit souvent traverser dans un jeu. Alors, comment rendre la «résurrection» crédible ? 
                    En règle générale, après la mort le joueur recharge une sauvegarde, ce qui brise souvent l'immersion parce que l'on sort du monde-jeu. Certains concepteurs essaient de rationaliser la résurrection : par exemple dans les jeux de Hidetaka Miyazaki les protagonistes sont souvent «Undead», 
                    dans Death Stranding de Hideo Kojima le héros est ce qu'on apelle un «Repatriate». L'orsqu'il meurt il part dans «Seam» puis revient. (ceci ne sont que des exemples, je comprends que la plupart des univers ne supportent pas de rationaliser la résurrection)
                </p>

            </div>
        </div>

        
    
</div>
</body>
</html>
