<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Projects — Cyber Showcase</title>
  <link rel="stylesheet" href="../../assets/css/base.css" />
  <link rel="stylesheet" href="../../assets/css/visuals.css" />
</head>
<body class="theme-cp">
<div class="vis-container">
  <header class="vis-header">
    <h1>Art</h1>
    <div class="accent-line"></div>
  </header>

  <!-- Project A -->
  <section class="vis-card" id="project-a">
    <header class="vis-card-header">
      <h2>Projet Alpha</h2>
    </header>

    <div class="vis-grid">
      <aside class="vis-side">
        <h3>Présentation du projet</h3>
        <p class="vis-desc">Conception et modélisation:
        Ce projet explore la création d'un personnage complet pour le jeu vidéo, 
        depuis la phase de conception visuelle jusqu'à la réalisation d'un modèle low poly texturé en PBR, 
        riggé et prêt à l'animation.</p>
      </aside>

      <div class="vis-gallery" id="sera">
        <div class="art-item">
          <div class="art art-portrait" aria-label="Sera Ashford">
            <img src="../../assets/drawing/a/Sera.jpg" alt="Sera Ashford" />
          </div>
          <div class="art-note">
            <h4>Sara Ashford</h4>
            <p class="small">Elle est la réceptionniste du guilde, barmaid de profession et responsable de l'attribution des quêtes.</p>
            <ul class="vis-meta">
              <li><span>Software</span><em>Procreate</em></li>
            </ul>
            <a class="btn btn-details" href="details/illu_Sera.html">Zoom</a>
            <a class="btn btn-details" href="details/lore_Sera.html">Lore</a>
          </div>
        </div>
        <div class="art-item">
          <div class="art art-portrait" aria-label="Jonas Mercer">
            <img src="../../assets/drawing/a/Jonas.jpg" alt="Jonas Mercer" />
          </div>
          <div class="art-note">
            <h4>Jonas Mercer</h4>
            <p class="small">Trafiquant d'armes opérant dans les bas-fonds de la cité, connu sous le nom de “Greencoat”. </p>
            <ul class="vis-meta">
              <li><span>Software</span><em>Procreate</em></li>
            </ul>
            <a class="btn btn-details" href="details/illu_Jonas.html">Zoom</a>
            <a class="btn btn-details" href="details/lore_Jonas.html">Lore</a>
          </div>
        </div>
        <div class="art-item">
          <div class="art art-portrait" aria-label="Adanna">
            <img src="../../assets/drawing/a/Adanna.jpg" alt="Adanna" />
          </div>
          <div class="art-note">
            <h4>Adanna Kalu</h4>
            <p class="small">Ancienne exécutrice d'entreprise, elle agit aujourd'hui en tant que mercenaire indépendante.</p>
            <ul class="vis-meta">
              <li><span>Software</span><em>Procreate</em></li>
            </ul>
            <a class="btn btn-details" href="details/illu_Adanna.html">Zoom</a>
            <a class="btn btn-details" href="details/lore_Adanna.html">Lore</a>
          </div>
        </div>

        <div class="art-item">
          <div class="art art-portrait" aria-label="Sera model">
            <img src="../../assets/drawing/a/model/Sera_model_1.png" alt="Sera model" />
          </div>
          <div class="art-note">
            <h4>Modèle 3D de Sara Ashford</h4>
            <p class="small">réalisation du modèle low poly de Sara Ashford(sauf la tête), incluant les textures PBR, le rigging et la pondération. </p>
            <ul class="vis-meta">
              <li><span>Software</span><em>Blender, Substance Peinter</em></li>
            </ul>
            <a class="btn btn-details" href="details/Sera_model.html">Zoom</a>
          </div>
        </div>
      </div>
      
    </div>
  </section>

  
  <!-- Project B -->
  <section class="vis-card" id="project-b">
    <header class="vis-card-header">
      <h2>Autre Arts</h2>
    </header>

      <div class="vis-grid" id="autre arts">
        <div class="vis-gallery">

          <div class="art-item">
          <div class="art art-portrait" aria-label="orange">
            <img src="../../assets/drawing/b/orange.jpg" alt="red" />
          </div>
          <div class="art-note">
            <h4>Happy Halloween</h4>
            <p class="small">Dessin de félicitations pour le platforme "Drawa"</p>
            <ul class="vis-meta">
              <li><span>Software</span><em>Procreate</em></li>
            </ul>
            <a class="btn btn-details" href="details/illu_orange.html" >Zoom</a>
          </div>
      </div>

          <div class="art-item">
            <div class="art art-portrait" aria-label="pink">
              <img src="../../assets/drawing/b/pink.JPG" alt="pink" />
            </div>
            <div class="art-note">
              <h4>Break</h4>
              <p class="small">Fanart des personnages de Drawa</p>
              <ul class="vis-meta">
                <li><span>Software</span><em>Procreate</em></li>
              </ul>
              <a class="btn btn-details" href="details/illu_pink.html" >Zoom</a>
            </div>
          </div>

        <div class="art-item" id="cyan">
          <div class="art art-portrait" aria-label="cyan">
            <img src="../../assets/drawing/b/cyan.jpg" alt="cyan" />
          </div>
          <div class="art-note">
            <h4>Eye contact</h4>
            <p class="small"> Un "Eye contact" à travers une vitre du laboratoire...</p>
            <ul class="vis-meta">
              <li><span>Software</span><em>Procreate</em></li>
            </ul>
            <a class="btn btn-details" href="details/illu_cyan.html" >Zoom</a>
          </div>
        </div>

        <div class="art-item">
            <div class="art art-portrait" aria-label="green">
              <img src="../../assets/drawing/b/green.jpg" alt="green" />
            </div>
            <div class="art-note">
              <h4>Character design</h4>
              <p class="small">Concept d'un personnage"</p>
              <ul class="vis-meta">
                <li><span>Software</span><em>Procreate</em></li>
              </ul>
              <a class="btn btn-details" href="details/illu_green.html" >Zoom</a>
            </div>
          </div>

        <div class="art-item">
            <div class="art art-portrait" aria-label="red">
              <img src="../../assets/drawing/b/red.jpg" alt="red" />
            </div>
            <div class="art-note">
              <h4>Cryptograph</h4>
              <p class="small">Fanart du jeu "Path to Nowhere"</p>
              <ul class="vis-meta">
                <li><span>Software</span><em>Procreate</em></li>
              </ul>
              <a class="btn btn-details" href="details/illu_red.html" >Zoom</a>
            </div>
          </div>
        
        <div class="art-item" id = "blue">
          <div class="art art-portrait" aria-label="blue">
            <img src="../../assets/drawing/b/blue.jpg" alt="blue" />
          </div>
          <div class="art-note">
            <h4>Seabed</h4>
            <p class="small">Fanart du jeu "Path to Nowhere"</p>
            <ul class="vis-meta">
              <li><span>Software</span><em>Photoshop</em></li>
            </ul>
            <a class="btn btn-details" href="details/illu_blue.html" >Zoom</a>
          </div>
        </div>






        <div class="art-band">
          <div class="art-item art-item-horizontal">
            <div class="art art-square" aria-label="red">
              <img src="../../assets/drawing/b/white_run.gif" alt="red" />
            </div>
            <div class="art-note">
              <h4>Run</h4>
              <p class="small">Animation 2D d'une fille qui court</p>
              <ul class="vis-meta">
                <li><span>Software</span><em>Procreate</em></li>
              </ul>
            </div>
          </div>

          <div class="art-item art-item-horizontal">
            <div class="art art-square" aria-label="red">
              <img src="../assets/drawing/b/white_att.gif" alt="red" />
            </div>
            <div class="art-note">
              <h4>Attaque</h4>
              <p class="small">Animation 2D d'une fille qui Attaque</p>
              <ul class="vis-meta">
                <li><span>Software</span><em>Procreate</em></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="art-band" id="run">
          <div class="art-item art-item-horizontal">
            <div class="art art-square" aria-label="run2">
              <img src="../assets/drawing/b/white2_left_run.gif" alt="run2" />
            </div>
            <div class="art-note">
              <h4>Run2</h4>
              <p class="small">Animation 2D d'une fille qui court</p>
              <ul class="vis-meta">
                <li><span>Software</span><em>Aseprite</em></li>
              </ul>
              <a class="btn btn-details" href="details/illu_run.html" >Zoom</a>
            </div>
          </div>

          <div class="art-item art-item-horizontal">
            <div class="art art-square" aria-label="run2">
              <img src="../assets/drawing/b/run_monster.gif" alt="run2" />
            </div>
            <div class="art-note">
              <h4>Monstre</h4>
              <p class="small">Un monstre</p>
              <ul class="vis-meta">
                <li><span>Software</span><em>Aseprite</em></li>
              </ul>
            </div>
          </div>
        </div>

      </div>

      
    </div>
  </section>
</div>
</body>
</html>
